@import "tailwindcss";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
  --white: #ffffff;
	--green: #00733f;
	--grey: #6f6f6f;
	--red: #b00c28;
	--black: #231f20;
}

html {
	height: 100%;
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: "Lato";
	background-color: #f9f9fb; /*light 50*/
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
}
